
body {
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------  HEADER----------------------------------------------------------------*/
.logo {
  margin-top: -200px;
  margin-bottom: -200px;
  margin-left: 33%;
}

img.img {
  padding-right: -200px;
  width: 50%;
  max-height: 140px;
}

/*-------------------------------------------------------------- CARD----------------------------------------------------------------*/
.card {
  display: table;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  text-align: center;
  float: right;
  width: 25%;
  margin-bottom: 10px;
  margin-right: 20px;
}
.card .card_information {
  background-color: rgb(255, 255, 255);
  border: 1px solid #bebebe;
  color: grey;
  width: 100%;
}
.card .card_information .card_price {
  color: rgb(71, 71, 71);
  font-size: 22px;
  font-weight: bold;
}
.card .card_title {
  width: 100%;
  font-weight: bold;
  font-size: 100%;
  color: rgb(75, 75, 75);
}
.card .card_bottom {
  padding-top: 10px;
  background-color: rgb(243, 243, 243);
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid #bebebe;
  width: 100%;
}

/*-------------------------------------------------------------- CANCEL BUTTON----------------------------------------------------------------*/
a.cancel-button {
  color: rgb(255, 255, 255);
  background-color: #c86262;
  border-radius: 12px;
  padding: 5px;
}
a.cancel-button:hover {
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: #7e3232;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Fantasy";
  font-weight: bold;
}

/*-------------------------------------------------------------- LOGIN--------------------------------------------------------------------------*/
.login-container {
  font-size: 22px;
  margin-left: 35%;
  margin-top: 50px;
  width: 30%;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /*-------------------------------------------------------------- REGISTER BUTTON----------------------------------------------------------------*/
}
.login-container .chooseFile {
  margin-left: 80px;
}
.login-container input {
  margin: 3px;
}
.login-container h2 {
  color: rgb(0, 0, 0);
  padding: 2px;
  text-align: center;
}
.login-container .register-button {
  color: rgb(0, 0, 0);
  background-color: #c2c0c0;
  border-radius: 12px;
  padding: 7px;
  padding-left: 70px;
  padding-right: 70px;
}
.login-container .register-button:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}
.login-container span.login-button {
  color: rgb(255, 255, 255);
  border-radius: 12px;
  background-color: #6290C8;
  padding: 5px;
  padding-left: 40px;
  padding-right: 40px;
}
.login-container span.login-button:hover {
  text-decoration: none;
  background-color: #3a5a81;
  font-weight: bold;
}

/*-------------------------------------------------------------- EDIT BUTTON----------------------------------------------------------------*/
a.edit-button {
  background-color: #6290C8;
  color: #ffffff;
  padding: 5px;
  margin-right: 2px;
}
a.edit-button:hover {
  color: rgb(197, 197, 197);
  text-decoration: none;
  background-color: #334f72;
}
a.edit-button .loginContainer {
  padding-top: 20px;
  background-color: #E7E5DF;
}
a.edit-button span.login-button {
  background-color: #6290C8;
  color: white;
  padding: 10px;
}
a.edit-button span.login-button:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/*--------------------------------------------------------------DELETE BUTTON----------------------------------------------------------------*/
a.delete-button {
  background-color: #6290C8;
  color: #ffffff;
  padding: 5px;
  margin-right: 2px;
}
a.delete-button:hover {
  color: rgb(197, 197, 197);
  text-decoration: none;
  background-color: #334f72;
}
a.delete-button .loginContainer {
  padding-top: 20px;
  background-color: #E7E5DF;
}
a.delete-button span.login-button {
  background-color: #6290C8;
  color: white;
  padding: 10px;
}
a.delete-button span.login-button:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/*-------------------------------------------------------------- ICONS----------------------------------------------------------------*/
.fa-solid {
  color: white;
}

.fa-sharp {
  color: #c86262;
}

/*-------------------------------------------------------------- EDIT BUTTON----------------------------------------------------------------*/
a.green-button {
  padding-left: 10px;
  color: rgb(5, 5, 5);
  font-size: 20px;
  display: inline;
  font-weight: bold;
  background-color: light;
  color: rgb(26, 109, 63);
}
a.green-button:hover {
  color: rgb(52, 91, 196);
  text-decoration: none;
  font-weight: bold;
}

a.blue-button {
  padding-left: 10px;
  color: rgb(5, 5, 5);
  font-size: 20px;
  display: inline;
  font-weight: bold;
}
a.blue-button:hover {
  color: rgb(52, 91, 196);
  text-decoration: none;
  font-weight: bold;
}

/*-------------------------------------------------------------- NAV----------------------------------------------------------------*/
div#navbarBottom {
  background-color: #121922;
  border: 1px solid #868686;
}
div#navbarBottom li {
  display: inline;
  font-family: sans-serif;
  font-size: 20px;
  /*-------------------------------------------------------------- SEARCH FORM----------------------------------------------------------------*/
}
div#navbarBottom li .user-icon {
  color: white;
}
div#navbarBottom li .login-nav-button {
  margin-left: 380px;
  background-color: rgb(21, 70, 231);
  border-radius: 8px;
}
div#navbarBottom li .login-nav-button:hover {
  background-color: rgb(17, 52, 168);
}
div#navbarBottom li .searchfrom {
  margin-left: 50px;
  width: 27%;
  padding: 5px 24px;
}
div#navbarBottom li .searchbutton {
  background-color: rgb(21, 70, 231);
  color: rgb(246, 246, 248);
  outline: none;
  padding: 5px 24px;
  border-radius: 8px;
}
div#navbarBottom li .searchbutton:hover {
  background-color: rgb(17, 52, 168);
}
div#navbarBottom li a {
  color: rgb(245, 245, 245);
  text-decoration: none;
  padding: 15px;
}
div#navbarBottom li a:hover {
  color: rgb(231, 185, 185);
}

/*-------------------------------------------------------------- ADMIN TABLE----------------------------------------------------------------*/
td {
  border: 2px solid #d6d6d6;
  border-bottom: 1px solid #464646;
  width: 15%;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

a.red-button {
  color: red;
  background-color: white;
  font-size: large;
  font-weight: bold;
}

th {
  padding: 8px;
  width: 15%;
  background-color: #3049b9;
  color: white;
  font-size: large;
  padding-bottom: 20px;
}

button {
  background-color: rgb(233, 109, 109);
  color: rgb(48, 48, 48);
  font-size: 65px;
  padding: 1%;
  font-weight: bold;
}
button:hover {
  background-color: #f5a9a9;
  text-decoration: none;
}

/*-------------------------------------------------------------- SIDENAV----------------------------------------------------------------*/
.sidenav {
  color: rgb(240, 240, 240);
  position: absolute;
  height: 100%;
  width: 20%;
  margin-top: 15px;
  left: 0;
  background-color: #f8f8f8;
  /*-------------------------------------------------------------- H2----------------------------------------------------------------*/
}
.sidenav .filterButtons {
  color: rgb(250, 247, 247);
}
.sidenav .filterButtons .fa-sharp {
  color: rgb(48, 48, 48);
  font-size: 25px;
  float: left;
}
.sidenav .filterButtons button {
  margin-top: 20px;
  background-color: #f8f8f8;
  padding: 2%;
  margin-right: 10px;
  width: 85%;
  border: 1px solid #f8f8f8;
  font-size: 20px;
  font-weight: bold;
  color: rgb(48, 48, 48);
  border-radius: 8px;
}
.sidenav .filterButtons button:hover {
  background-color: #c7c7c7;
  text-decoration: none;
}
.sidenav h2 {
  color: rgb(255, 255, 255);
  background-color: #121922;
  text-align: center;
  padding-bottom: 5px;
  border: 1px solid #797979;
}
.sidenav a {
  padding-top: 6px;
  padding-left: 8px;
  padding-right: 6px;
  padding-bottom: 16px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
}
.sidenav a:hover {
  color: rgb(255, 255, 255);
  background-color: #6290C8;
  text-decoration: none;
}

/*-------------------------------------------------------------- CART---------------------------------------------------------------*/
div.Shopping_Cart {
  background-color: rgb(243, 243, 243);
  padding-left: 2%;
  padding-bottom: 30%;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 1%;
  color: rgb(34, 34, 34);
}
div.Shopping_Cart button {
  background-color: rgb(247, 204, 85);
  text-align: center;
  margin-left: 15%;
  margin-top: 2%;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h3 {
  text-align: center;
  padding: 2%;
  border: 1px solid #d4d4d4;
  background-color: #ebeaea;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*-------------------------------------------------------------- FOOTER----------------------------------------------------------------*/
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 2000px;
  background-color: rgb(8, 8, 49);
  color: white;
  text-align: center;
}

/*-------------------------------------------------------------- ADD FORM----------------------------------------------------------------*/
form {
  margin-top: 20px;
  background-color: #f8f8f8;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
}
form a.red-button {
  color: rgb(255, 255, 255);
  background-color: #c86262;
  padding: 20px;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
form a.red-button:hover {
  color: rgb(247, 247, 247);
  background-color: #a74747;
  text-decoration: none;
  font-weight: bold;
}
form span.add-button {
  color: rgb(255, 255, 255);
  background-color: #3c63e4;
  padding: 20px;
  float: left;
  margin-left: 25%;
  width: 50%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
form span.add-button:hover {
  color: rgb(238, 238, 238);
  background-color: #305d94;
  text-decoration: none;
  font-weight: bold;
}

/*-------------------------------------------------------------- USER PROFILE----------------------------------------------------------------*/
.userProfile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.userProfile div {
  text-align: center;
  margin: 1%;
  border-radius: 10px;
  border: 2px solid black;
  flex-grow: 1;
}

/*-------------------------------------------------------------- RESPONSIVE--------------------------------------------------------------------------*/
@media screen and (max-width: 2050px) {
  div#navbarBottom li .login-nav-button {
    margin-left: 500px;
  }
}
@media screen and (max-width: 1580px) {
  div#navbarBottom li .login-nav-button {
    margin-left: 250px;
  }
  .card {
    width: 33%;
  }
}
@media screen and (max-width: 1450px) {
  div#navbarBottom li .login-nav-button {
    margin-left: 200px;
  }
}
@media screen and (max-width: 1380px) {
  div#navbarBottom li .login-nav-button {
    margin-left: 150px;
  }
}
@media screen and (max-width: 1312px) {
  div#navbarBottom li .login-nav-button {
    margin-left: 140px;
  }
}
@media screen and (max-width: 1300px) {
  div#navbarBottom li .login-nav-button {
    margin-left: 130px;
  }
}
@media screen and (max-width: 1285px) {
  div#navbarBottom li .login-nav-button {
    margin-left: 100px;
  }
}
@media screen and (max-width: 1270px) {
  div#navbarBottom li .login-nav-button {
    margin-left: 80px;
  }
}
@media screen and (max-width: 1216px) {
  div#navbarBottom li {
    font-size: 17px;
  }
  div#navbarBottom li .login-nav-button {
    margin-left: 60px;
  }
}
@media screen and (max-width: 1195px) {
  div#navbarBottom li .login-nav-button {
    margin-left: 40px;
  }
  .card {
    width: 33%;
  }
}
@media screen and (max-width: 1140px) {
  div#navbarBottom li {
    font-size: 14px;
    font-size: 14px;
  }
  .card {
    width: 35%;
  }
}
@media screen and (max-width: 1079px) {
  .logo {
    width: 1px;
    margin-left: 220px;
  }
  div#navbarBottom li .searchfrom {
    margin-left: 50px;
    width: 20%;
    padding: 5px 24px;
  }
  .card {
    width: 60%;
  }
  .sidenav {
    width: 30%;
  }
}
@media screen and (max-width: 980px) {
  div#navbarBottom li .login-nav-button {
    position: relative;
    margin-top: -65px;
    float: left;
    border-radius: 8px;
    margin-left: -1px;
    padding: 1%;
  }
  div#navbarBottom li .searchfrom {
    width: 25%;
  }
  .card {
    width: 60%;
  }
}
@media screen and (max-width: 972px) {
  div#navbarBottom li .login-nav-button {
    margin-top: -70px;
  }
}
@media screen and (max-width: 950px) {
  div#navbarBottom li .login-nav-button {
    margin-top: -100px;
  }
}
@media screen and (max-width: 904px) {
  div#navbarBottom li .login-nav-button {
    margin-top: -100px;
  }
  .logo {
    width: 1px;
    margin-left: 140px;
  }
  .sidenav .filterButtons button {
    font-size: 15px;
  }
}
@media screen and (max-width: 880px) {
  div#navbarBottom li .searchfrom {
    margin-left: 140px;
    width: 57%;
    padding: 5px 24px;
  }
  form {
    background-color: #ebebeb;
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media screen and (max-width: 765px) {
  div#navbarBottom li .login-nav-button {
    margin-top: -130px;
  }
}
@media screen and (max-width: 716px) {
  .logo {
    width: 1px;
    margin-left: 80px;
  }
}
@media screen and (max-width: 620px) {
  div#navbarBottom li .login-nav-button {
    margin-top: 0px;
    float: right;
    margin-right: 20px;
    padding: 5px;
  }
  div#navbarBottom li .searchfrom {
    margin-left: 10px;
    width: 57%;
  }
  .logo {
    display: none;
  }
  .sidenav {
    width: 100%;
    margin-top: -10px;
    height: auto;
    background-color: #f0f0f0;
  }
  .card {
    position: static;
    margin-top: 400px;
    width: 100%;
    margin-bottom: -330px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 506px) {
  form {
    background-color: #ebebeb;
    margin-left: 50px;
    margin-right: 50px;
  }
  div#navbarBottom li a {
    font-size: small;
  }
  div#navbarBottom li .searchfrom {
    margin-left: 1px;
    width: 57%;
    padding: 5px 24px;
  }
  .sidenav .filterButtons button {
    font-size: small;
    margin-top: 3px;
  }
  .card {
    margin-top: 330px;
  }
}
@media screen and (max-width: 414px) {
  div#navbarBottom li a {
    font-size: 12px;
    margin-left: -10px;
  }
  div#navbarBottom li .searchfrom {
    width: 40%;
  }
}
@media screen and (max-width: 357px) {
  div#navbarBottom {
    padding-bottom: 65px;
    margin-bottom: 20px;
  }
  div#navbarBottom li .login-nav-button {
    margin-top: 10px;
    width: 310px;
  }
  div#navbarBottom li .searchfrom {
    margin-top: 70px;
    position: absolute;
    margin-left: -320px;
    width: 65%;
  }
  div#navbarBottom li .searchbutton {
    font-size: 15px;
    margin-top: 70px;
    margin-left: -100px;
    position: absolute;
  }
  form {
    margin-left: 10px;
    margin-right: 10px;
  }
  .card {
    margin-top: 280px;
    margin-bottom: -260px;
  }
}
@media screen and (max-width: 355px) {
  .card {
    margin-top: 280px;
  }
}
@media screen and (max-width: 353px) {
  div#navbarBottom li .searchfrom {
    margin-left: -80px;
  }
  div#navbarBottom li .searchbutton {
    margin-left: 140px;
  }
}
@media screen and (max-width: 330px) {
  div#navbarBottom li .login-nav-button {
    width: 280px;
  }
  div#navbarBottom li .searchbutton {
    font-size: 15px;
    margin-left: 95px;
  }
}
@media screen and (max-width: 313px) {
  div#navbarBottom li .login-nav-button {
    width: 250px;
  }
}
@media screen and (max-width: 300px) {
  div#navbarBottom {
    padding-bottom: 65px;
  }
  div#navbarBottom li .login-nav-button {
    margin-top: 10px;
    width: 240px;
  }
  div#navbarBottom li .searchfrom {
    margin-top: 70px;
    position: absolute;
    margin-left: -90px;
    width: 70%;
  }
  div#navbarBottom li .searchbutton {
    font-size: 15px;
    margin-top: 70px;
    margin-left: 95px;
    position: absolute;
  }
  .button {
    padding: 0px;
    background-color: red;
  }
}
@media screen and (max-width: 290px) {
  div#navbarBottom li .login-nav-button {
    margin-top: 10px;
    width: 230px;
    margin-top: 10px;
    width: 230px;
  }
  div#navbarBottom li .searchfrom {
    margin-top: 70px;
    position: absolute;
    margin-left: -90px;
    width: 50%;
  }
  div#navbarBottom li .searchbutton {
    font-size: 15px;
    margin-top: 70px;
    margin-left: px;
    position: absolute;
  }
}
@media screen and (max-width: 233px) {
  div#navbarBottom {
    padding-bottom: 100px;
  }
  div#navbarBottom li .login-nav-button {
    margin-top: 10px;
    width: 150px;
  }
  div#navbarBottom li .searchfrom {
    margin-top: 80px;
    position: absolute;
    margin-left: -160px;
    width: 40%;
  }
  div#navbarBottom li .searchbutton {
    font-size: 15px;
    margin-top: 80px;
    margin-left: -70px;
    position: absolute;
  }
}
@media screen and (max-width: 217px) {
  div#navbarBottom {
    padding-bottom: 100px;
  }
  div#navbarBottom li .searchfrom {
    margin-top: 80px;
    position: absolute;
    margin-left: -200px;
    width: 50%;
  }
  div#navbarBottom li .searchbutton {
    font-size: 15px;
    margin-top: 80px;
    margin-left: -80px;
    position: absolute;
  }
}
@media screen and (max-width: 215px) {
  div#navbarBottom {
    padding-bottom: 100px;
  }
  div#navbarBottom li a {
    font-size: 10px;
  }
  div#navbarBottom li .searchfrom {
    margin-top: 80px;
    position: absolute;
    margin-left: -200px;
    width: 60%;
  }
  div#navbarBottom li .searchbutton {
    margin-top: 80px;
    margin-left: -70px;
  }
}
@media screen and (max-width: 211px) {
  div#navbarBottom li a {
    display: inline;
  }
  div#navbarBottom li .searchfrom {
    display: none;
  }
  div#navbarBottom li .searchbutton {
    display: none;
  }
  .card {
    margin-top: 280px;
    width: 100%;
    height: 200px;
  }
}/*# sourceMappingURL=style.css.map */